body, html {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans', sans-serif;
    background: black;
}

#vanta {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
header {
    margin-top: 2.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    border: 1px solid #fffa;
    box-shadow: #fffa 0px 2px 8px 0px;
    z-index: 1;
}

header > h1 {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    background-color: #fffa;
    margin-top: 1.2rem;
    padding: 0.3rem 0.6rem;
    border: 1px solid #fffa;
    box-shadow: #fffa 0px 2px 8px 0px;
    z-index: 1;
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 2rem;
    max-width: 480px;
}

ul > li {
    background-color: #fffa;
    border-radius: 10rem;
    padding: 1rem;
    margin: 2.4rem 0;
    box-shadow: #fffa 0px 2px 8px 0px;
}

ul > li > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;
}

ul > li > a > img {
    width: 1.8rem;
}

a {
    color: black;
    text-decoration: none;
}